fastapi[standard] == 0.128.8
pydantic == 2.12.5
uvicorn[standard] == 0.39.0
sqlalchemy == 2.0.43
aiosqlite == 0.21.0
pydantic-settings == 2.11.0
pwdlib[argon2] == 0.2.1
PyJWT == 2.10.1
python-multipart == 0.0.20
email-validator == 2.3.0
greenlet == 3.5.0
